body {

    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    color: white;
    background-color: black;
}

#conteneur1 {
    padding: 0px;
}

#navbar {
    font-size: 1.2rem;
    background-color: rgb(226, 33, 42);
}


h1 {
    font-size: 5rem;
    border-bottom: 5px solid rgb(226, 33, 42);
}

h2 {
    font-size: 3rem;
    border: 3px solid rgb(226, 33, 42);
    padding: 8px;
}


    
strong {
     color: rgb(226, 33, 42);
    font-size: 1.6rem;
    font-family: 'Indie Flower', cursive;
}
    
    
    
#retour {
    margin-left: 80%;
    color: black;
}

#carouselExampleIndicators {
    margin-top: 2rem;
}
    